{
    "swagger": "2.0",
    "info": {
        "description": "Safecast API: measurements, bgeigie_imports, users, devices. Adapter (unversioned + v1) and v2 routes share the same core.",
        "title": "Safecast API",
        "contact": {
            "name": "Safecast"
        },
        "license": {
            "name": "MIT"
        },
        "version": "1.0"
    },
    "host": "api.safecast.org",
    "basePath": "/",
    "paths": {
        "/airnote": {
            "get": {
                "description": "Returns airnote data. Returns 501 Not Implemented.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v1"
                ],
                "summary": "Airnote",
                "responses": {
                    "405": {
                        "description": "Method not allowed"
                    },
                    "501": {
                        "description": "Not implemented"
                    }
                }
            }
        },
        "/api/v1": {
            "get": {
                "description": "Returns the Safecast API root with name, URI, and subresource links. Also at / and /api/v2.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v1"
                ],
                "summary": "API root",
                "responses": {
                    "200": {
                        "description": "Root descriptor with subresource_uris",
                        "schema": {
                            "$ref": "#/definitions/safecast.RootRails"
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    },
                    "406": {
                        "description": "Accept must be application/json"
                    }
                }
            }
        },
        "/api/v1/bgeigie_imports": {
            "get": {
                "description": "Returns bGeigie import records. Also at /bgeigie_imports and /api/v2/bgeigie_imports.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v1"
                ],
                "summary": "List bGeigie imports",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Search query",
                        "name": "q",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by status",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by user ID",
                        "name": "by_user_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter created_at \u003e=",
                        "name": "uploaded_after",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter created_at \u003c",
                        "name": "uploaded_before",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Page number (default 1)",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Per page (default 25)",
                        "name": "per_page",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of bGeigie imports",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/safecast.BgeigieImportRails"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    },
                    "406": {
                        "description": "Accept must be application/json"
                    }
                }
            },
            "post": {
                "description": "Upload/create a bGeigie import. Requires API key. Returns 501 Not Implemented.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v1"
                ],
                "summary": "Create bGeigie import",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API key (or X-API-Key header)",
                        "name": "api_key",
                        "in": "query"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "405": {
                        "description": "Method not allowed"
                    },
                    "406": {
                        "description": "Accept must be application/json"
                    },
                    "501": {
                        "description": "Not implemented"
                    }
                }
            }
        },
        "/api/v1/bgeigie_imports/{id}": {
            "get": {
                "description": "Returns one bGeigie import by numeric ID. Also at /bgeigie_imports/:id and /api/v2/bgeigie_imports/:id.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v1"
                ],
                "summary": "Get bGeigie import by ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Bgeigie import ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bgeigie import",
                        "schema": {
                            "$ref": "#/definitions/safecast.BgeigieImportRails"
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "405": {
                        "description": "Method not allowed"
                    },
                    "406": {
                        "description": "Accept must be application/json"
                    }
                }
            }
        },
        "/api/v1/count": {
            "get": {
                "description": "Returns total count with same query params as list. Also at /count and /api/v2/count.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v1"
                ],
                "summary": "Count measurements",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Center latitude",
                        "name": "latitude",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Center longitude",
                        "name": "longitude",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Max distance (km)",
                        "name": "distance",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter captured_at \u003e=",
                        "name": "captured_after",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter captured_at \u003c",
                        "name": "captured_before",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by user ID",
                        "name": "user_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by device ID",
                        "name": "device_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by measurement_import_id",
                        "name": "measurement_import_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by original_id",
                        "name": "original_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Alias for captured_after",
                        "name": "since",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Alias for captured_before",
                        "name": "until",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by unit",
                        "name": "unit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Sort order",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Page (for consistency; count ignores)",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Per page (for consistency; count ignores)",
                        "name": "per_page",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Count",
                        "schema": {
                            "$ref": "#/definitions/safecast.CountRails"
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    },
                    "406": {
                        "description": "Accept must be application/json"
                    }
                }
            }
        },
        "/api/v1/devices": {
            "get": {
                "description": "Returns devices. Stub implementation returns empty array. Also at /devices and /api/v2/devices.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v1"
                ],
                "summary": "List devices",
                "responses": {
                    "200": {
                        "description": "List of devices (stub: empty)",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/safecast.DeviceRails"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    },
                    "406": {
                        "description": "Accept must be application/json"
                    }
                }
            }
        },
        "/api/v1/devices/{id}": {
            "get": {
                "description": "Returns one device by ID. Returns 501 Not Implemented.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v1"
                ],
                "summary": "Get device by ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Device ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Method not allowed"
                    },
                    "406": {
                        "description": "Accept must be application/json"
                    },
                    "501": {
                        "description": "Not implemented"
                    }
                }
            }
        },
        "/api/v1/measurements": {
            "get": {
                "description": "Returns measurements with optional filters. Also at /measurements and /api/v2/measurements.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v1"
                ],
                "summary": "List measurements",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Center latitude for distance filter",
                        "name": "latitude",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Center longitude for distance filter",
                        "name": "longitude",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Max distance (km) from lat/lon",
                        "name": "distance",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by captured_at \u003e= (ISO8601 or timestamp)",
                        "name": "captured_after",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by captured_at \u003c",
                        "name": "captured_before",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by user ID",
                        "name": "user_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by device ID",
                        "name": "device_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by measurement_import_id",
                        "name": "measurement_import_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by original_id",
                        "name": "original_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Alias for captured_after",
                        "name": "since",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Alias for captured_before",
                        "name": "until",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by unit (e.g. cpm)",
                        "name": "unit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Sort order",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Page number (default 1)",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Per page (default 100)",
                        "name": "per_page",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of measurements",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/safecast.MeasurementRails"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    },
                    "406": {
                        "description": "Accept must be application/json"
                    }
                }
            },
            "post": {
                "description": "Creates a measurement. Requires api_key query or X-API-Key header. Also at /measurements and /api/v2/measurements.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v1"
                ],
                "summary": "Create measurement",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API key (or use X-API-Key header)",
                        "name": "api_key",
                        "in": "query"
                    },
                    {
                        "description": "JSON: { \\",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Created measurement",
                        "schema": {
                            "$ref": "#/definitions/safecast.MeasurementRails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized (missing or invalid API key)"
                    },
                    "405": {
                        "description": "Method not allowed"
                    },
                    "406": {
                        "description": "Accept must be application/json"
                    },
                    "422": {
                        "description": "Validation errors (invalid JSON or value can't be blank)",
                        "schema": {
                            "$ref": "#/definitions/safecast.ErrorsRails"
                        }
                    }
                }
            }
        },
        "/api/v1/measurements/{id}": {
            "get": {
                "description": "Returns one measurement by numeric ID. Also at /measurements/:id and /api/v2/measurements/:id.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v1"
                ],
                "summary": "Get measurement by ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Measurement ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Measurement",
                        "schema": {
                            "$ref": "#/definitions/safecast.MeasurementRails"
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "405": {
                        "description": "Method not allowed"
                    },
                    "406": {
                        "description": "Accept must be application/json"
                    }
                }
            }
        },
        "/api/v1/users": {
            "get": {
                "description": "Returns users. Stub implementation returns empty array. Also at /users and /api/v2/users.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v1"
                ],
                "summary": "List users",
                "responses": {
                    "200": {
                        "description": "List of users (stub: empty)",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/safecast.UserRails"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    },
                    "406": {
                        "description": "Accept must be application/json"
                    }
                }
            }
        },
        "/api/v1/users/{id}": {
            "get": {
                "description": "Returns one user by ID. Returns 501 Not Implemented.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v1"
                ],
                "summary": "Get user by ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Method not allowed"
                    },
                    "406": {
                        "description": "Accept must be application/json"
                    },
                    "501": {
                        "description": "Not implemented"
                    }
                }
            }
        },
        "/api/v2": {
            "get": {
                "description": "Returns the Safecast API root with name, URI, and subresource links. Same response as /api/v1.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v2"
                ],
                "summary": "API root (v2)",
                "responses": {
                    "200": {
                        "description": "Root descriptor with subresource_uris",
                        "schema": {
                            "$ref": "#/definitions/safecast.RootRails"
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        },
        "/api/v2/bgeigie_imports": {
            "get": {
                "description": "Returns bGeigie import records. Also supports POST (same as v1; returns 501 Not Implemented).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v2"
                ],
                "summary": "List bGeigie imports (v2)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Filter by status",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Page number (default 1)",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Per page (default 25)",
                        "name": "per_page",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of bGeigie imports",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/safecast.BgeigieImportRails"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        },
        "/api/v2/bgeigie_imports/{id}": {
            "get": {
                "description": "Returns one bGeigie import by numeric ID. Same response as /api/v1/bgeigie_imports/{id}.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v2"
                ],
                "summary": "Get bGeigie import by ID (v2)",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Bgeigie import ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bgeigie import",
                        "schema": {
                            "$ref": "#/definitions/safecast.BgeigieImportRails"
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        },
        "/api/v2/device_stories": {
            "get": {
                "description": "Returns device stories. Stub returns empty array.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v2"
                ],
                "summary": "List device stories (v2)",
                "responses": {
                    "200": {
                        "description": "Stub: empty array",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        },
        "/api/v2/device_stories/{id}": {
            "get": {
                "description": "Returns one device story. Returns 501 Not Implemented.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v2"
                ],
                "summary": "Get device story by ID (v2)",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Device story ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Method not allowed"
                    },
                    "501": {
                        "description": "Not implemented"
                    }
                }
            }
        },
        "/api/v2/devices": {
            "get": {
                "description": "Returns devices. Stub implementation returns empty array. Same as /api/v1/devices.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v2"
                ],
                "summary": "List devices (v2)",
                "responses": {
                    "200": {
                        "description": "List of devices (stub: empty)",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/safecast.DeviceRails"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        },
        "/api/v2/devices/{id}": {
            "get": {
                "description": "Returns one device by ID. Returns 501 Not Implemented (stub).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v2"
                ],
                "summary": "Get device by ID (v2)",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Device ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Method not allowed"
                    },
                    "501": {
                        "description": "Not implemented"
                    }
                }
            }
        },
        "/api/v2/ingest": {
            "get": {
                "description": "Returns ingest data. Stub returns empty array.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v2"
                ],
                "summary": "Ingest (v2)",
                "responses": {
                    "200": {
                        "description": "Stub: empty array",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        },
        "/api/v2/measurements": {
            "get": {
                "description": "Returns measurements with optional filters. Also supports POST to create (same body as v1).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v2"
                ],
                "summary": "List measurements (v2)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Center latitude for distance filter",
                        "name": "latitude",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Center longitude for distance filter",
                        "name": "longitude",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Max distance (km) from lat/lon",
                        "name": "distance",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by captured_at \u003e=",
                        "name": "captured_after",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by captured_at \u003c",
                        "name": "captured_before",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by user ID",
                        "name": "user_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by device ID",
                        "name": "device_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Page number (default 1)",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Per page (default 100)",
                        "name": "per_page",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of measurements",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/safecast.MeasurementRails"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        },
        "/api/v2/measurements/count": {
            "get": {
                "description": "Returns total count with same query params as list. Same response as /api/v1/count.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v2"
                ],
                "summary": "Count measurements (v2)",
                "responses": {
                    "200": {
                        "description": "Count",
                        "schema": {
                            "$ref": "#/definitions/safecast.CountRails"
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        },
        "/api/v2/measurements/{id}": {
            "get": {
                "description": "Returns one measurement by numeric ID. Same response as /api/v1/measurements/{id}.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v2"
                ],
                "summary": "Get measurement by ID (v2)",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Measurement ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Measurement",
                        "schema": {
                            "$ref": "#/definitions/safecast.MeasurementRails"
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        },
        "/api/v2/radiation_index": {
            "get": {
                "description": "Returns radiation index. Stub returns empty array.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v2"
                ],
                "summary": "Radiation index (v2)",
                "responses": {
                    "200": {
                        "description": "Stub: empty array",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        },
        "/api/v2/users": {
            "get": {
                "description": "Returns users. Stub implementation returns empty array. Same as /api/v1/users.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v2"
                ],
                "summary": "List users (v2)",
                "responses": {
                    "200": {
                        "description": "List of users (stub: empty)",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/safecast.UserRails"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        },
        "/api/v2/users/{id}": {
            "get": {
                "description": "Returns one user by ID. Returns 501 Not Implemented (stub).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v2"
                ],
                "summary": "Get user by ID (v2)",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Method not allowed"
                    },
                    "501": {
                        "description": "Not implemented"
                    }
                }
            }
        },
        "/device_stories": {
            "get": {
                "description": "Returns device stories. Stub returns empty array.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v1"
                ],
                "summary": "List device stories",
                "responses": {
                    "200": {
                        "description": "Stub: empty array",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        },
        "/device_stories/{id}": {
            "get": {
                "description": "Returns one device story. Returns 501 Not Implemented.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v1"
                ],
                "summary": "Get device story by ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Device story ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "405": {
                        "description": "Method not allowed"
                    },
                    "501": {
                        "description": "Not implemented"
                    }
                }
            }
        },
        "/ingest": {
            "get": {
                "description": "Returns ingest data. Stub returns empty array.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v1"
                ],
                "summary": "Ingest",
                "responses": {
                    "200": {
                        "description": "Stub: empty array",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        },
        "/radiation_index": {
            "get": {
                "description": "Returns radiation index. Stub returns empty array. Also at /radiation_index.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API v1"
                ],
                "summary": "Radiation index",
                "responses": {
                    "200": {
                        "description": "Stub: empty array",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        }
    },
    "definitions": {
        "safecast.BgeigieImportRails": {
            "type": "object",
            "properties": {
                "approved": {
                    "type": "boolean"
                },
                "created_at": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "md5sum": {
                    "type": "string"
                },
                "measurements_count": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "source": {
                    "$ref": "#/definitions/safecast.SourceRails"
                },
                "status": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                },
                "user_id": {
                    "type": "integer"
                }
            }
        },
        "safecast.CountRails": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer"
                }
            }
        },
        "safecast.DeviceRails": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "manufacturer": {
                    "type": "string"
                },
                "model": {
                    "type": "string"
                },
                "sensor": {
                    "type": "string"
                }
            }
        },
        "safecast.ErrorsRails": {
            "type": "object",
            "properties": {
                "errors": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "safecast.MeasurementRails": {
            "type": "object",
            "properties": {
                "captured_at": {
                    "type": "string"
                },
                "channel_id": {
                    "type": "integer"
                },
                "device_id": {
                    "type": "integer"
                },
                "devicetype_id": {
                    "type": "integer"
                },
                "height": {
                    "type": "number"
                },
                "id": {
                    "type": "integer"
                },
                "latitude": {
                    "type": "number"
                },
                "location_name": {
                    "type": "string"
                },
                "longitude": {
                    "type": "number"
                },
                "measurement_import_id": {
                    "type": "integer"
                },
                "original_id": {
                    "type": "integer"
                },
                "sensor_id": {
                    "type": "integer"
                },
                "station_id": {
                    "type": "integer"
                },
                "unit": {
                    "type": "string"
                },
                "user_id": {
                    "type": "integer"
                },
                "value": {
                    "type": "number"
                }
            }
        },
        "safecast.RootRails": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "subresource_uris": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "uri": {
                    "type": "string"
                }
            }
        },
        "safecast.SourceRails": {
            "type": "object",
            "properties": {
                "url": {
                    "type": "string"
                }
            }
        },
        "safecast.UserRails": {
            "type": "object",
            "properties": {
                "authentication_token": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "measurements_count": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                }
            }
        }
    }
}