{
    "schemes": [
        "https",
        "http"
    ],
    "swagger": "2.0",
    "info": {
        "description": "REST access to the Safecast radiation monitoring dataset via simplemap.safecast.org — 200M+ measurements from citizen scientists worldwide. All data is CC0-licensed and read-only. Powered by PostgreSQL+PostGIS.",
        "title": "Safecast Map API",
        "contact": {
            "name": "Safecast",
            "url": "https://safecast.org"
        },
        "license": {
            "name": "CC0 1.0 Universal",
            "url": "https://creativecommons.org/publicdomain/zero/1.0/"
        },
        "version": "1.0"
    },
    "host": "simplemap.safecast.org",
    "basePath": "/api",
    "paths": {
        "/api/admin/backfill": {
            "post": {
                "description": "Backfills upload records from existing spectra entries.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin backfill uploads from spectra",
                "responses": {
                    "200": {
                        "description": "Backfill result",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/admin/backfill-countries": {
            "post": {
                "description": "Starts background country backfill for markers with coordinates.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin backfill marker countries",
                "responses": {
                    "200": {
                        "description": "Backfill status",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/admin/cache": {
            "post": {
                "description": "Performs cache operations such as clear/stats via action query parameter.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin cache operations",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Cache action (e.g. clear, stats)",
                        "name": "action",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cache operation result",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/admin/delete": {
            "post": {
                "description": "Deletes a track and associated marker data.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin delete single track",
                "parameters": [
                    {
                        "description": "Delete request payload",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Delete result",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/admin/delete-multiple": {
            "post": {
                "description": "Deletes multiple tracks in one request.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin delete multiple tracks",
                "parameters": [
                    {
                        "description": "Bulk delete request payload",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Delete result",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/admin/import-from-safecast": {
            "post": {
                "description": "Triggers a date-ranged Safecast import and streams progress updates.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/event-stream"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin import from Safecast API",
                "responses": {
                    "200": {
                        "description": "Streaming progress",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/admin/mcp/data": {
            "get": {
                "description": "Returns paginated MCP analytics rows for a selected table.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin MCP analytics data",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Analytics table name",
                        "name": "table",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Page size",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Sort column",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Sort order: asc or desc",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Search term",
                        "name": "search",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Analytics rows",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid table",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "503": {
                        "description": "Analytics unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/admin/mcp/delete": {
            "post": {
                "description": "Deletes selected or filtered MCP analytics rows.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin MCP analytics delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Analytics table name",
                        "name": "table",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated row IDs",
                        "name": "ids",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Delete all filtered rows",
                        "name": "all",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Search term when all=true",
                        "name": "search",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Delete result",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "503": {
                        "description": "Analytics unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes selected or filtered MCP analytics rows.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin MCP analytics delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Analytics table name",
                        "name": "table",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated row IDs",
                        "name": "ids",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Delete all filtered rows",
                        "name": "all",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Search term when all=true",
                        "name": "search",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Delete result",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "503": {
                        "description": "Analytics unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/admin/mcp/export": {
            "get": {
                "description": "Exports MCP analytics rows as CSV for a selected table.",
                "produces": [
                    "text/csv"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin MCP analytics export",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Analytics table name",
                        "name": "table",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Search term",
                        "name": "search",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV export",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "400": {
                        "description": "Invalid table",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "503": {
                        "description": "Analytics unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/admin/realtime/data": {
            "get": {
                "description": "Returns paginated latest realtime device readings.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin realtime device data",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page size",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Sort column",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Sort order: asc or desc",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Search term",
                        "name": "search",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Realtime rows",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/admin/realtime/delete": {
            "post": {
                "description": "Deletes selected or filtered realtime measurements.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin realtime delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Comma-separated row IDs",
                        "name": "ids",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Delete all filtered rows",
                        "name": "all",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Search term when all=true",
                        "name": "search",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Delete result",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes selected or filtered realtime measurements.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin realtime delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Comma-separated row IDs",
                        "name": "ids",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Delete all filtered rows",
                        "name": "all",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Search term when all=true",
                        "name": "search",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Delete result",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/admin/realtime/export": {
            "get": {
                "description": "Exports latest realtime device readings as CSV.",
                "produces": [
                    "text/csv"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin realtime export",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Search term",
                        "name": "search",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV export",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/admin/tracks": {
            "get": {
                "description": "Returns paginated track statistics for admin users.",
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin tracks dashboard data",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page size",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Free-text search",
                        "name": "search",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Detector filter",
                        "name": "detector",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTML admin page",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/admin/translations": {
            "get": {
                "description": "Returns paginated translation rows for admin editing.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin translations list",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page size",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Sort column",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Sort order",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Search term",
                        "name": "search",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Language code filter",
                        "name": "lang",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Translation rows",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "post": {
                "description": "Creates a translation row or updates existing key/language pair.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin translation create",
                "responses": {
                    "201": {
                        "description": "Create result",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/admin/translations/reload": {
            "post": {
                "description": "Reloads in-memory translations from database.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin translations reload",
                "responses": {
                    "200": {
                        "description": "Reload result",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "Reload failed",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/admin/translations/{id}": {
            "put": {
                "description": "Updates translation value by translation row ID.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin translation update",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Translation row ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Update result",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes translation row by ID.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin translation delete",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Translation row ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Delete result",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/admin/uploads": {
            "get": {
                "description": "Returns paginated upload records for admin users.",
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin uploads dashboard data",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page size",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by internal user ID",
                        "name": "user_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Free-text search",
                        "name": "search",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTML admin page",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/area": {
            "get": {
                "description": "Returns historical bGeigie measurements inside the specified geographic rectangle. Falls back to Safecast REST API if no database is configured.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "historical"
                ],
                "summary": "Find radiation measurements within a bounding box",
                "parameters": [
                    {
                        "type": "number",
                        "description": "Southern boundary latitude (-90 to 90)",
                        "name": "min_lat",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Northern boundary latitude (-90 to 90)",
                        "name": "max_lat",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Western boundary longitude (-180 to 180)",
                        "name": "min_lon",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Eastern boundary longitude (-180 to 180)",
                        "name": "max_lon",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 100,
                        "description": "Maximum number of results (1 to 10000)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Measurements with count, bbox, and source",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid or missing parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/device/{id}/history": {
            "get": {
                "description": "Returns time-series radiation data from a bGeigie mobile device or fixed sensor. Queries both the markers table (bGeigie imports) and realtime_measurements table (fixed sensors).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "historical"
                ],
                "summary": "Get historical measurements from a device",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Device identifier",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 30,
                        "description": "Days of history to retrieve (1 to 365)",
                        "name": "days",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 200,
                        "description": "Maximum number of results (1 to 10000)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Device measurements with period metadata",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/extreme": {
            "get": {
                "description": "Find the highest or lowest radiation readings in the database with full location details. Supports excluding anomalous sources.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "analytics"
                ],
                "summary": "Find extreme radiation readings",
                "parameters": [
                    {
                        "type": "string",
                        "default": "highest",
                        "description": "Direction: 'highest' or 'lowest'",
                        "name": "direction",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 10,
                        "description": "Number of results (1-100)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "default": -90,
                        "description": "Southern boundary for geographic filter",
                        "name": "min_lat",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "default": 90,
                        "description": "Northern boundary for geographic filter",
                        "name": "max_lat",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "default": -180,
                        "description": "Western boundary for geographic filter",
                        "name": "min_lon",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "default": 180,
                        "description": "Eastern boundary for geographic filter",
                        "name": "max_lon",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated device IDs to exclude (e.g., 'bGeigie-2113,bGeigie-456')",
                        "name": "exclude_devices",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "JSON array of bounding boxes to exclude (e.g., '[{\\",
                        "name": "exclude_areas",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Extreme readings with location details",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/get_markers": {
            "get": {
                "description": "Returns filtered markers for map bounds and optional track/speed/time filters.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "map"
                ],
                "summary": "Get markers for viewport",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Requested map zoom",
                        "name": "zoom",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "description": "Minimum latitude",
                        "name": "minLat",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Minimum longitude",
                        "name": "minLon",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Maximum latitude",
                        "name": "maxLat",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Maximum longitude",
                        "name": "maxLon",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Single track ID filter",
                        "name": "trackID",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated track IDs filter",
                        "name": "trackIDs",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated speed categories",
                        "name": "speeds",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Start unix timestamp (seconds)",
                        "name": "dateFrom",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "End unix timestamp (seconds)",
                        "name": "dateTo",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Markers",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/gpt/area": {
            "get": {
                "description": "Returns compact historical readings for a bounding box, capped to 5 results for GPT usage.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "historical"
                ],
                "summary": "Find area readings (GPT compact)",
                "parameters": [
                    {
                        "type": "number",
                        "description": "Southern latitude boundary",
                        "name": "min_lat",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Northern latitude boundary",
                        "name": "max_lat",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Western longitude boundary",
                        "name": "min_lon",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Eastern longitude boundary",
                        "name": "max_lon",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Compact reading list",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/gpt/radiation": {
            "get": {
                "description": "Returns compact fields optimized for LLM Actions. Results are capped to 5 and include source metadata.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "historical"
                ],
                "summary": "Find nearby radiation readings (GPT compact)",
                "parameters": [
                    {
                        "type": "number",
                        "description": "Latitude in decimal degrees (-90 to 90)",
                        "name": "lat",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Longitude in decimal degrees (-180 to 180)",
                        "name": "lon",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Search radius in meters",
                        "name": "radius_m",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Compact reading list",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/gpt/stats": {
            "get": {
                "description": "Proxies the aggregate statistics endpoint for GPT Actions.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "reference"
                ],
                "summary": "Get aggregate statistics (GPT compact)",
                "responses": {
                    "200": {
                        "description": "Aggregate statistics",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/info/{topic}": {
            "get": {
                "description": "Returns static educational reference content about radiation units, safety levels, detector types, background levels, and isotopes.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "reference"
                ],
                "summary": "Get radiation reference information",
                "parameters": [
                    {
                        "enum": [
                            "units",
                            "dose_rates",
                            "safety_levels",
                            "detectors",
                            "background_levels",
                            "isotopes"
                        ],
                        "type": "string",
                        "description": "Topic to retrieve",
                        "name": "topic",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Reference content for the requested topic",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid or missing topic",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/radiation": {
            "get": {
                "description": "Returns historical bGeigie measurements within a radius of the given coordinates, sorted by most recent. Uses PostGIS spatial index for fast queries. Falls back to Safecast REST API if no database is configured.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "historical"
                ],
                "summary": "Find radiation measurements near a location",
                "parameters": [
                    {
                        "type": "number",
                        "description": "Latitude in decimal degrees (-90 to 90)",
                        "name": "lat",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Longitude in decimal degrees (-180 to 180)",
                        "name": "lon",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "default": 1500,
                        "description": "Search radius in meters (25 to 50000)",
                        "name": "radius_m",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 25,
                        "description": "Maximum number of results (1 to 10000)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Radiation measurements with count, source, and query metadata",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/realtime_history": {
            "get": {
                "description": "Returns aggregated realtime history and summary ranges for a device.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "map"
                ],
                "summary": "Get realtime device history",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Realtime device ID",
                        "name": "device",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Realtime history payload",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Missing device",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "Realtime feature disabled",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/sensor/{id}/current": {
            "get": {
                "description": "Routes to current or history endpoint based on the path suffix. Use /current for the latest reading, /history for time-series data.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "realtime"
                ],
                "summary": "Get readings from a specific sensor",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Device identifier",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Start date for history (YYYY-MM-DD) — required for /history",
                        "name": "start_date",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End date for history (YYYY-MM-DD, default: today)",
                        "name": "end_date",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 25,
                        "description": "Maximum number of results (1 to 1000)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sensor readings",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/sensor/{id}/history": {
            "get": {
                "description": "Routes to current or history endpoint based on the path suffix. Use /current for the latest reading, /history for time-series data.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "realtime"
                ],
                "summary": "Get readings from a specific sensor",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Device identifier",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Start date for history (YYYY-MM-DD) — required for /history",
                        "name": "start_date",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End date for history (YYYY-MM-DD, default: today)",
                        "name": "end_date",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 25,
                        "description": "Maximum number of results (1 to 1000)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sensor readings",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/sensors": {
            "get": {
                "description": "Lists active fixed radiation sensors (Pointcast, Solarcast, bGeigieZen, etc.) with their location, type, and last reading timestamp. Requires database connection.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "realtime"
                ],
                "summary": "Discover active fixed sensors",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Filter by sensor type (e.g. Pointcast, Solarcast, bGeigieZen)",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "default": -90,
                        "description": "Southern boundary latitude",
                        "name": "min_lat",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "default": 90,
                        "description": "Northern boundary latitude",
                        "name": "max_lat",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "default": -180,
                        "description": "Western boundary longitude",
                        "name": "min_lon",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "default": 180,
                        "description": "Eastern boundary longitude",
                        "name": "max_lon",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 50,
                        "description": "Maximum number of sensors (1 to 1000)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sensor list with locations and last reading times",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/spectra": {
            "get": {
                "description": "Returns spectroscopy metadata (filename, device model, energy range, location) without channel data. Use GET /api/spectrum/{marker_id} to fetch full channel data. Requires database connection.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "spectroscopy"
                ],
                "summary": "Browse gamma spectroscopy records",
                "parameters": [
                    {
                        "type": "number",
                        "description": "Southern boundary latitude (requires all 4 bbox params)",
                        "name": "min_lat",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "description": "Northern boundary latitude (requires all 4 bbox params)",
                        "name": "max_lat",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "description": "Western boundary longitude (requires all 4 bbox params)",
                        "name": "min_lon",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "description": "Eastern boundary longitude (requires all 4 bbox params)",
                        "name": "max_lon",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by file format (e.g. spe, csv)",
                        "name": "source_format",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by detector model name (partial match)",
                        "name": "device_model",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by track identifier",
                        "name": "track_id",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 50,
                        "description": "Maximum number of results (1 to 500)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Spectroscopy records with metadata",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/spectrum/{marker_id}": {
            "get": {
                "description": "Returns complete gamma spectroscopy data including all channel counts for the specified measurement point. Use GET /api/spectra to find marker IDs.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "spectroscopy"
                ],
                "summary": "Get full spectroscopy channel data",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Marker/measurement identifier",
                        "name": "marker_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Full spectroscopy channel data",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid marker_id",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "503": {
                        "description": "Database unavailable",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/stats": {
            "get": {
                "description": "Returns aggregate radiation dose-rate statistics from the Safecast database grouped by time interval. Powered by DuckDB + PostgreSQL.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "reference"
                ],
                "summary": "Get aggregate radiation statistics",
                "parameters": [
                    {
                        "enum": [
                            "year",
                            "month",
                            "overall"
                        ],
                        "type": "string",
                        "default": "year",
                        "description": "Aggregation interval: year, month, or overall",
                        "name": "interval",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Statistics data with interval and source metadata",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid interval value",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "503": {
                        "description": "Analytics engine unavailable",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/stream_markers": {
            "get": {
                "description": "Streams map markers as SSE by default, or MessagePack when requested via query/header.",
                "produces": [
                    "text/event-stream"
                ],
                "tags": [
                    "map"
                ],
                "summary": "Stream markers for viewport",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Requested map zoom",
                        "name": "zoom",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "description": "Minimum latitude",
                        "name": "minLat",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Minimum longitude",
                        "name": "minLon",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Maximum latitude",
                        "name": "maxLat",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Maximum longitude",
                        "name": "maxLon",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Single track ID filter",
                        "name": "trackID",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated track IDs filter",
                        "name": "trackIDs",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Set to msgpack for binary stream",
                        "name": "format",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Streaming response",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Streaming unsupported",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/track/{id}": {
            "get": {
                "description": "Retrieves radiation measurements recorded during a specific bGeigie drive. Use GET /api/tracks to find track IDs first.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "historical"
                ],
                "summary": "Get all measurements from a specific track",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Track identifier (e.g. 8eh5m1)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Start marker ID for filtering",
                        "name": "from",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "End marker ID for filtering",
                        "name": "to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 200,
                        "description": "Maximum number of results (1 to 10000)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Measurements for the track",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/trackid/{id}": {
            "get": {
                "description": "Serves the HTML map page for a specific track ID.",
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "web"
                ],
                "summary": "Render map page for one track",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Track ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTML page",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Track ID missing",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/tracks": {
            "get": {
                "description": "Lists bGeigie Import tracks (bulk radiation measurement drives). Each track represents measurements from a single bGeigie session. Can filter by year, month, and detector/device name.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "historical"
                ],
                "summary": "Browse bGeigie measurement tracks",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Filter by year (2000–2100)",
                        "name": "year",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Filter by month (1–12, requires year)",
                        "name": "month",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by detector/device name (e.g., 'bGeigieZen', 'bGeigie', 'Pointcast'). Partial match supported.",
                        "name": "detector",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 50,
                        "description": "Maximum number of results (1 to 50000)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Track list with count and filter metadata",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/tracks/{ids}": {
            "get": {
                "description": "Serves the HTML map page with multiple track IDs from a comma-separated path segment.",
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "web"
                ],
                "summary": "Render map page for multiple tracks",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Comma-separated track IDs",
                        "name": "ids",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTML page",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Track IDs missing",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/upload": {
            "post": {
                "description": "Accepts one or more files in multipart form field `files[]` and returns a track ID for async progress polling.",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "map"
                ],
                "summary": "Upload radiation files",
                "responses": {
                    "200": {
                        "description": "Upload accepted",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid upload",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/upload/progress": {
            "get": {
                "description": "Streams upload progress events for a previously submitted upload track ID.",
                "produces": [
                    "text/event-stream"
                ],
                "tags": [
                    "map"
                ],
                "summary": "Stream upload progress",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Upload tracking ID returned by /upload",
                        "name": "trackid",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "SSE stream",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Missing trackid",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "tags": [
        {
            "description": "Historical bGeigie mobile radiation measurements",
            "name": "historical"
        },
        {
            "description": "Real-time fixed sensor readings (Pointcast, Solarcast, bGeigieZen)",
            "name": "realtime"
        },
        {
            "description": "Gamma spectroscopy records",
            "name": "spectroscopy"
        },
        {
            "description": "Aggregate statistics and reference information",
            "name": "reference"
        }
    ]
}